# Python bytecode cache
__pycache__/
*.py[cod]
*$py.class

# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build output
dist/
build/

# Dependency directories
jspm_packages/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
*.pdf
figures/
dataset/
results/
saved_model/
log/

main_fnode_accel_dt.py
main_fnode_error.py
main_fnode_dt.py
noise_test.py

Model/slider_crank.py
Model/slider_crank_bb.py

mpc_cartpole/results_baseline/
mpc_cartpole/results_fnode/

friction.py

main_fnode_veh.py